@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .stagger-up {
    animation: slideUp 1.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}